
*/target/*
bin/*
*/.settings/*
.project
*/.project
/*/.classpath
/src/main/webapp/*
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.m2e.core.prefs
/.classpath
/.settings/org.eclipse.wst.common.component
/diamond_config_data.log
/.classpath
/.settings/org.eclipse.wst.common.component
*/.api.iml
/.idea/modules.xml
/.idea/misc.xml
/.idea.iml
/.idea/workspace.xml
/.idea/vcs.xml
.idea/**/*.xml
**/*.iml
**/*.meta
**/*.zip
/bin/*
/*/bin/*
*.launch
*.iml
*.idea
*.classpath
.project
.settings/*
*.class
*.log
*.pdf
